/* Font use on the website -- change this*/
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&family=Open+Sans:wght@700&display=swap');

:root{
    --main-color:#8a8a8c;
}

*{
    margin:0; padding:0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
    text-decoration: none;
    transition: .2s linear;
}

/* The HTMl for the overall site. */
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background: #444;
}

html::-webkit-scrollbar-thumb{
    background: #31333a;
    border-radius: 5rem;
}

/* The header begins here*/
.header{
    background: #18191c;
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;
}

.header .logo {
    flex: 1 1 45rem;
}

.header .logo img{
    height: 10%;
    width: 10%;
    border-radius: .5rem;
    cursor: pointer;
}

.header .navbar a{
    color:#fff;
    font-size: 1.7rem;
    margin-left: 2rem;
}

.header .navbar a:hover{
    color: var(--main-color);
}

#menu-bars{
    color:#fff;
    font-size: 3rem;
    cursor: pointer;
    display: none;
}

/* The body (background) begins here*/
body{
    width: 100%;
    height: 100vh;
    color: #fff;
    background-color: #1D1C21;
    background-size: 200% 200%;
    position: relative;
}

/* The home section begins here*/
.home .content{
    text-align: center;
    padding-top: 12rem;
    max-width: 70rem;
    margin:2rem auto;
}

.home .content h3{
    background-color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 7rem;
    text-transform: uppercase;
}

.home .content span{
    background: linear-gradient(to right, #B50CFF, #647CFF);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 100% 100%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}

@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.home .content h4{
    color:#fff;
    font-size: 2rem;
    text-transform: uppercase;
}

.home .diagram img{
    height: 70%;
    width: 70%;
    border-radius: .5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* The artwork/animation section begins here*/


/* The newsletter section begins here*/
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    text-transform: uppercase;
    padding: 20rem;
}
.contact form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .inputBox input,
.contact form textarea{
    background:#D9D9D9;
    color:#333;
    width: 100%;
    border-radius: .5rem;
    padding:1rem;
    margin:.7rem 0;
    font-size: 1.5rem;
    text-transform: none;
}

.contact form .btn{
    background-color: transparent;
    border-color: #fff;
    color:#8a8a8c;
    width: 100%;
    border-radius: .5rem;
    padding:1rem;
    margin:.7rem 0;
    font-size: 1.5rem;
    text-transform: none;
    cursor: pointer;
}

.contact h3{
    text-transform: uppercase;
}
.contact .news-text .e{
    transform: translate (50%, 50%);
    background: linear-gradient(45deg, #810EA8, #3D0CA9);
    height: 500px;
    width: 750x;
    border-radius: 150px 150px 0 0;
    border-radius: 50%;
}

/* The footer section begins here*/
.footer{
    background:#111;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    padding:1rem 0;
    color:#fff;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    padding:1rem 0;
    color:#eee;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:var(--main-color);
}

.footer .box-container .box a:hover i{
    padding-right: 1.5rem;
    color:#fff;
}

.footer .credit{
    text-align: center;
    border-top: .1rem solid #222;
    color:#fff;
    padding:2rem;
    padding-top: 2.5rem;
    margin-top: 1rem;
    font-size: 2rem;
}

.footer .credit span{
    color:var(--main-color);
}