/* Font use on the website -- change this*/
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&family=Open+Sans:wght@700&display=swap');

:root{
    --main-color:#8a8a8c;
}

*{
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
    text-decoration: none;
    transition: .2s linear;
}

/* The HTMl for the overall site. */
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background: #444;
}

html::-webkit-scrollbar-thumb{
    background: #31333a;
    border-radius: 5rem;
}

/* The header begins here*/
.header{
    background-color: #18191c;
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;
}

.header .logo {
    flex: 1 1 45rem;
}

.header .logo img{
    height: 10%;
    width: 10%;
    border-radius: .5rem;
    cursor: pointer;
}

.header .navbar a{
    color:#fff;
    font-size: 1.7rem;
    margin-left: 2rem;
}

.header .navbar a:hover{
    color: var(--main-color);
}

#menu-bars{
    color:#fff;
    font-size: 3rem;
    cursor: pointer;
    display: none;
}

/* The body (background) begins here*/
body{
    height: 100vh;
	width: 100%;
    background-size: cover;
	background-position: center;
}

/* The home section begins here*/
.home{
    background-color: #1D1C21;
}

.home .content{
    text-align: center;
    padding-top: 12rem;
    max-width: 70rem;
    margin: 2rem auto;
}

.home .content h3{
    background-color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 7rem;
    text-transform: uppercase;
}

.home .content span{
    background: linear-gradient(to right, #B50CFF, #647CFF);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 100% 100%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}

@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.home .content h4{
    color:#fff;
    font-size: 2rem;
    text-transform: uppercase;
}

/* The artwork/animation section begins here*/
.home .diagram img{
    height: 70%;
    width: 70%;
    border-radius: .5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* The newsletter section begins here*/
.contact .newsletterBackground .ellipse img{
    height: 100%;
    width: 100%;
}

.contact .news-text{
    margin-top: -235px;
}

.contact .news-text h3{
    color: #F1F1F1;
    font-size: 28px;
    inline-size: 500px;
    overflow-wrap: break-word;
    margin-left: 10%;
}

.contact .news-text form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    text-transform: uppercase;
    width: 35%;
    margin-left: 57%;
    margin-top: -8.5%;
}

.contact form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .inputBox input,
.contact form textarea{
    background:#F1F1F1;
    color:#333;
    width: 100%;
    border-radius: .5rem;
    padding:1rem;
    margin:.7rem 0;
    font-size: 1.5rem;
    text-transform: none;
}

.contact form .btn{
    background-color: transparent;
    border-color: #fff;
    color:#F1F1F1;
    width: 100%;
    border-radius: .5rem;
    padding:1rem;
    margin:.7rem 0;
    font-size: 1.5rem;
    text-transform: none;
    cursor: pointer;
    border-style: solid;
}

/* The services section begins here*/
.services{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.container .card{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.container .card .content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.container .card:hover .content{
    transform: translateY(0px);
    opacity: 1;
}

.container .card .content h2{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.container .card .content h3{
    font-size: 1.8em;
    color: #1D1C21;
    z-index: 1;
}

.container.card .content p{
    font-size: 1em;
    color: #1D1C21;
    font-weight: 300;
}

.container .card .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #647CFF;
    color: #1D1C21;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* The footer section begins here*/
.footer{
    background:#111;
    border-top-left-radius: 125px;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    padding:1rem 0;
    color:#fff;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    padding:1rem 0;
    color:#eee;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:var(--main-color);
}

.footer .box-container .box a:hover i{
    padding-right: 1.5rem;
    color:#fff;
}

.footer .credit{
    text-align: center;
    border-top: .1rem solid #222;
    color:#fff;
    padding:2rem;
    padding-top: 2.5rem;
    margin-top: 1rem;
    font-size: 2rem;
}

.footer .credit span{
    color:var(--main-color);
}